/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background: #e0e0e0;
    font-family: Georgia;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.template{
    width: 960px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clear{overflow: hidden;}


.topbar{
    background: #2F2B29;
    height: 50px;
}
.topbarleft{
    float: left;
    width: 550px;
}
.topbarleft ul {
  list-style: outside none none;
  margin: 15px 0 0;
  padding: 0;
}
.topbarleft ul li {
  border-right: 1px solid #ddd;
  float: left;
  padding: 1px 10px;
}
.topbarleft ul li:last-child{
    border-right:0;
}
.topbarleft ul li a {
  color: #ddd;
  display: block;
  font-size: 12px;
  text-decoration: none;
}
.topbarleft ul li a:hover{}
.topbarright{
    float: right;
    width: 400px;
}
.topbarright i {
  background: #ddd none repeat scroll 0 0;
  border-radius: 50%;
  color: #000;
  float: right;
  font-size: 20px;
  height: 30px;
  margin-left: 10px;
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  width: 40px;
}
.headersection{}
.headersection h1 {
  font-size: 100px;
  margin: 20px 0;
  text-transform: uppercase;
}
.headersection p{
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    color: #4a4a4a;
}
.mainmenu{
    margin-top: 20px;
}
.mainmenu ul {
  border-bottom: 3px double #666;
  border-top: 3px double #666;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.mainmenu ul li {
  display: block;
  float: left;
  margin: 5px 20px 5px 0;
  padding: 2px;
}
.mainmenu ul li a {
  color: #333333;
  display: block;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
.mainmenu ul li a:hover, #active{
    color: #999999;
}
.recentnews {
  border-bottom: 3px double #999;
  margin-top: 33px;
  padding-bottom: 30px;
}
.recentleft{
    float: left;
    width: 500px;
    margin-right: 30px;
}
.recentleft img{}
.recentleft h3 {
  color: #444444;
  font-size: 22px;
  font-weight: normal;
  margin: 10px 0;
}
.recentleft p {
  color: #666;
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.recentright{
    width: 430px;
}
.latestnews {
  margin-bottom: 22px;
}
.latestnews img {
  border: 1px solid #999;
  float: left;
  margin-right: 8px;
  padding: 4px;
}
.latestnews h3 {
  color: #444;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
}
.latestnews p {
  color: #666;
  font-size: 16px;
  margin: 0;
}
.contentsection {
  border-bottom: 3px double #999;
  margin-top: 20px;
  padding-bottom: 30px;
}
.contentleft{
    width: 600px;
    float: left;
    margin-right: 25px;
}
.topcontent{
    border-bottom: 3px double #999;
}
.topcontleft{
    width: 290px;
    float: left;
}
.topcontleft h2 {
  border-bottom: 1px solid #666;
  color: #666;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 11px;
}

.samepost{
    margin-bottom: 25px;
}
.samepost img {
  border: 1px solid #999;
  float: left;
  margin-right: 8px;
  padding: 4px;
}
.samepost h4 {
  color: #444;
  font-size: 12px;
  margin: 0;
}
.samepost p {
  color: #666;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  text-align: left;
}
.samepost a {
  color: #982115;
  float: right;
  font-size: 11px;
  text-decoration: none;
}


.topcontright{
    width: 290px;
    float: right;
}

.topcontright h2{
  border-bottom: 1px solid #666;
  color: #666;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 11px;
}
.topcontright img{}
.topcontright h4{}
.topcontright p{}
.topcontright a{}

.bottomcontent {
  margin-top: 30px;
}
.bottmenu{}
.bottmenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bottmenu ul li {
  background: #000 none repeat scroll 0 0;
  border-right: 1px solid #fff;
  float: left;
  padding: 3px;
}
.bottmenu ul li:last-child{
    border-right:0;
}
.bottmenu ul li a {
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
}
.bottmenu ul li a:hover, #active{
    color: #c0c0c0;
}

.contgallery {
  float: left;
  margin-right: 20px;
  width: 130px;
}
.contgallery h4 {
  color: #982115;
  font-size: 12px;
}
.contgallery img {
  border: 1px solid #999;
  margin-bottom: 10px;
  padding: 3px;
}
.contgallery p {
  color: #666;
  font-size: 12px;
  line-height: 11px;
  margin: 0;
  text-align: left;
}
.tag {
  font-size: 11px;
  margin-top: 10px;
}
.tag a {
  color: #982014;
  text-decoration: none;
}

.rightsidebar {
  width: 330px;
}
.advertisment {
  float: left;
  margin-right: 10px;
  width: 160px;
}
.advertisment h3 {
  border-top: 5px solid #999;
  color: #666;
  font-size: 13px;
}
.advertisment img{}

.category {
  width: 160px;
}
.category h3 {
  border-top: 5px solid #999;
  color: #666;
  font-size: 13px;
}
.category li {
  color: #982216;
  font-size: 13px;
  line-height: 20px;
}

.footertopsection {
  border-bottom: 3px double #999;
  margin-top: 30px;
  padding-bottom: 30px;
}
.footerarticle {
  float: left;
  margin-right: 22px;
  width: 170px;
}
.footerarticle h4 {
  border-bottom: 1px solid #999;
  color: #666;
  font-size: 13px;
  padding-bottom: 7px;
}
.footerarticle p {
  color: #982216;
  font-size: 12px;
  line-height: 23px;
}
.footersection {
}
.footleft {
  float: left;
  width: 500px;
}
.footleft p {
  color: #787878;
  font-size: 12px;
  padding: 10px 0;
}
.footright {
  float: right;
  width: 143px;
}
.footright p {
  color: #787878;
  font-size: 12px;
  padding: 10px 0;
}

























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
